.App {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    margin: 20px;
  }
  
  .toggle-button, .close-button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar {
    position: relative;
    width: 300px;
    height: 500px;
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .tabs {
    margin-bottom: 20px;
  }
  
  .tab-button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  
  .tab-button.active {
    background-color: #007BFF;
    color: white;
  }
  
  .tab-content {
    margin-bottom: 40px; /* Add some space above the inner div */
  }
  
  .inner {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
  }
  #nowmail{
    position: absolute;
    top: 50px; /* הגובה של הכפתור */
    right: 10px; /* מיקום הכפתור */
    bottom: 0; /* עד התחתית */
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
  }
  